.first-screen-text {
  margin-bottom: 200px;
  width: 50%;
}

.first-screen-text h1 {
  font-size: clamp(36px, 5vw, 42px);
  color: #0a133a;
}

.first-screen-text h2 {
  font-size: 24px;
  font-weight: 400;
  color: #444f7f;
}

.content-wrapper {
  position: relative;
}

.contact-page-content {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
  padding: 40px;
  gap: 100px;

  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

  /* Overlap */

  position: absolute;
  left: 5%;
  transform: translateY(-760px);
  z-index: 5;
}

.contact-content {
  width: 50%;
}

.contact-content h1 {
  font-size: 32px;
  font-weight: 700;
}

/* left */
.c-c-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-4-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: #f5f6ff;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.card-icon-text {
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 700;
}

.card-text {
  font-size: 14px;
  font-weight: 700;

  text-align: center;
}

/* right */
.c-c-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-form {
  background-color: #f5f6ff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;

  padding: 40px;
}

.right-form input {
  border: 1px solid #bacffc;
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.right-form textarea {
  border: 1px solid #bacffc;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  resize: none;
}

.right-batan {
  height: 40px;
  background-color: #235dd7;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

/* Responsive */
@media (max-width: 480px) {
  .first-screen-text {
    width: 100%;
  }

  .first-screen-text h2 {
    font-size: 20px;
  }

  .contact-page-content {
    flex-direction: column;
    transform: translateY(-340px);
    position: relative;


  }

  .contact-content:nth-child(2) {
    order: 1;
    width: 100%;
  }

  .contact-content:nth-child(1) {
    order: 2;
    width: 100%;
  }

  .contact-content h1{
    font-size: 21px;
    text-align: center;
  }

  .left-4-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .card{
    width: 100%;
  }

}
